@font-face {
  font-family: "toutiao";
  /* Project id 2717099 */
  src: url("//at.alicdn.com/t/font_2717099_j46wl8vj0ar.woff2?t=1627901164091") format("woff2"), url("//at.alicdn.com/t/font_2717099_j46wl8vj0ar.woff?t=1627901164091") format("woff"), url("//at.alicdn.com/t/font_2717099_j46wl8vj0ar.ttf?t=1627901164091") format("truetype");
}
.toutiao {
  font-family: "toutiao" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.toutiaofenxiang:before {
  content: "\e601";
}
.toutiaoshanchu:before {
  content: "\e602";
}
.toutiaoshouji:before {
  content: "\e603";
}
.toutiaoshoucang:before {
  content: "\e604";
}
.toutiaogengduo:before {
  content: "\e605";
}
.toutiaosousuo:before {
  content: "\e606";
}
.toutiaowode:before {
  content: "\e607";
}
.toutiaoshouye:before {
  content: "\e608";
}
.toutiaoyanzhengma:before {
  content: "\e609";
}
.toutiaozuojiantou:before {
  content: "\e60a";
}
.toutiaopinglun:before {
  content: "\e60b";
}
.toutiaoshipin:before {
  content: "\e60c";
}
.toutiaowuwangluo:before {
  content: "\e60d";
}
.toutiaowenda:before {
  content: "\e60e";
}
.toutiaolishi:before {
  content: "\e60f";
}
.toutiaozuopin:before {
  content: "\e610";
}
.toutiaoyoujiantou:before {
  content: "\e611";
}
.toutiaoyuedu:before {
  content: "\e612";
}
